

.body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    max-width: 2000px;
    margin: auto;
    padding: 30px;
    background-color: #ba9e8a;
    text-align: left;
  }

/* Iteration Section */
.media-body{
    align-content: center;
}

.iterations{
    align-items: center;
    align-content: center;
}

/* Research Accordion */
.collapse{
    
}

/*Prototype*/
.Container {
    display: flex;
    padding: 10px 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  .flexContainer div {
    width: 0;
    padding: 0px;
  }

  .row {
    display: grid;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "col-6"
    "col-6"
    "col-6" 
    "col-6";
  }

.beforeafter {
    background-size: contain;
    width: 10%;
    height: auto;
}